In [1]:
import pandas as pd
import numpy as np

C:\Users\marce\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\marce\anaconda3\lib\site-packages\numpy\.libs\libopenblas.4SP5SUA7CBGXUEOC35YP2ASOICYYEQZZ.gfortran-win_amd64.dll
C:\Users\marce\anaconda3\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [5]:
#Ler dicionário das variáveis do arquivo xlsx

dict = pd.read_excel ('dicionario_PNADC_microdados_trimestral.xls', skiprows=[0,2,3])
dict.head(5)

,Posição inicial,Tamanho,Código\nda\nvariável,Quesito,Unnamed: 4,Categorias,Unnamed: 6,Período
0,1,4.0,Ano,NaN,Ano de referência,NaN,NaN,1º tri/2012 - atual
1,5,1.0,Trimestre,NaN,Trimestre de referência,1 a 4,Número do trimestre (1 a 4),1º tri/2012 - atual
2,6,2.0,UF,NaN,Unidade da Federação,11,Rondônia,1º tri/2012 - atual
3,NaN,NaN,NaN,NaN,NaN,12,Acre,NaN
4,NaN,NaN,NaN,NaN,NaN,13,Amazonas,NaN

In [6]:
# Mudar o nomes das colunas devido o espaço entre os nomes

dict.columns = ['Posição_inicial','Tamanho' ,'Variável','Descrição', 'Unnamed:4', 'Categorias','Unnamed:6','Período']

dict = dict.dropna ( subset = ['Variável'])

In [ ]:
tamanho = list(dict['Tamanho'])
largura = [int(valor) for valor in tamanho]

df_pnad_1Tri_2023 = pd.read_fwf('PNADC_012023.txt', widths = largura, dtype = str)

In [ ]:
df_pnad_2Tri_2023 = pd.read_fwf('PNADC_022023.txt', widths = largura, dtype=str)

In [ ]:
df_pnad_2023 = pd.concat([df_pnad_1Tri_2023,df_pnad_2Tri_2023 ])
df_pnad_2023.head(5)

In [ ]:
df_pnad_1Tri_2023.columns = dict['Variável']
df_pnad_1Tri_2023.head(5)

In [ ]:
uf_cod = {'UF':{'11':'Rondônia',
                '12':'Acre',
                '13': 'Amazonas',
                '14':'Roraima',
                '15':'Pará',
                '16':'Amapá',
                '17':'Tocantins',
                '21':'Maranhão',
                '22':'Piauí',
                '23':'Ceará',
                '24':'Rio Grande do Norte',
                '25':'Paraíba',
                '26':'Pernambuco',
                '27':'Alagoas',
                '28':'Sergipe',
                '29':'Bahia',
                '31':'Minas Gerais',
                '32':'Espírito Santo',
                '33':'Rio de Janeiro',
                '35':'São Paulo',
                '41':'Paraná',
                '42':'Santa Catarina',
                '43':'Rio Grande do Sul',
                '50':'Mato Grosso do Sul',
                '51':'Mato Grosso',
                '52':'Goiás',
                '53':'Distrito Federal'}}

In [ ]:
df_pnad_1Tri_2023.replace(uf_cod, inplace = True)

In [ ]:
df_pnad_1Tri_2023.head(5)

In [ ]:
df_pnad_1Tri_2023['UF'].value_counts()